@using ChikovMF.MVC.Models.Form.Home;
@model MessageMeFormModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3 d-sm-block d-none">
            <img src="/img/home/me.png" class="img-fluid border" alt="Мое фото">
        </div>
        <div class="col-sm-9">
            <h1>Здравствуйте, я Матвей</h1>
            <p>Я начинающий разработчик. Мне нравится создавать различные приложения. Этот сайт - мое веб-портфолио. На нем содержится основная информация обо мне как о разработчике, а также некоторые проекты которые я создал.</p>
        </div>
    </div>
</div>

@* Блок ключевых кавыков *@
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Ключевые навыки:</h2>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">C#</li>
                <li class="list-group-item">ASP.NET</li>
                <li class="list-group-item">Entity Framework</li>
                <li class="list-group-item">xUnit</li>
                <li class="list-group-item">JavaScript</li>
            </ul>
        </div>
    </div>
</div>

@* Блок контакты *@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Мои контакты:</h2>
            <ul>
                <li>
                    Email:
                    <a href="mailto:ia-matvey@mail.ru">ia-matvey@mail.ru</a>
                </li>
                <li>
                    Telegram:
                    <a href="tg://resolve?domain=ChikovMF">@@ChikovMF</a>
                </li>

                @* <li>
                    Кнопка вызова модального окна
                    Отправить сообщение с сайта:
                    <a type="button" class="link-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Написать мне
                    </a>

                    Модальное окно
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Отправить сообщение</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <form asp-controller="Home" asp-action="SendingMessage" method="post" id="send_message">
                                        <div class="mb-3">
                                            <label asp-for="Name" class="form-label"></label>
                                            <input asp-for="Name" class="form-control" placeholder="Введите имя">
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="Contacts" class="form-label"></label>
                                            <input asp-for="Contacts" class="form-control" placeholder="Как с вами связаться">
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="Message" class="form-label"></label>
                                            <textarea asp-for="Message" class="form-control" placeholder="Введите сообщение"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" form="send_message" class="btn btn-sm btn-outline-primary">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li> *@
            </ul>
        </div>
    </div>
</div>