@using ChikovMF.MVC.Models.Dto
@model CreateProjectDto
@{
    ViewData["Title"] = "Создать проект";
}

<form method="post">
    <div class="mb-2">
        <div class="input-group">
            <label asp-for="Title" class="input-group-text"></label>
            <input class="form-control" asp-for="Title" />
        </div>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <div class="input-group">
            <label asp-for="ShortDescription" class="input-group-text"></label>
            <input class="form-control" asp-for="ShortDescription" />
        </div>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <div class="input-group">
            <label asp-for="DetailedDescription" class="input-group-text"></label>
            <textarea class="form-control" asp-for="DetailedDescription"></textarea>
        </div>
        <span asp-validation-for="DetailedDescription" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <input type="submit" class="btn btn-sm btn-outline-success float-end" value="Создать" />
    </div>
</form>