@using ChikovMF.MVC.Models.Dto
@model UpdateProjectDto
@{
    ViewData["Title"] = "Создать проект";
}

<form asp-action="UpdateProject" asp-controller="Project">
    <div class="mb-2">
        <div class="input-group">
            <label asp-for="Title" class="input-group-text"></label>
            <input class="form-control" asp-for="Title" />
        </div>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <div class="input-group">
            <label asp-for="ShortDescription" class="input-group-text"></label>
            <input class="form-control" asp-for="ShortDescription" />
        </div>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <div class="input-group">
            <label asp-for="DetailedDescription" class="input-group-text"></label>
            <input class="form-control" asp-for="DetailedDescription" />
        </div>
        <span asp-validation-for="DetailedDescription" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <input type="submit" class="btn btn-sm btn-outline-success float-end" value="Обновить" />
    </div>

    <input type="hidden" asp-for="ProjectId" />
</form>