@using ChikovMF.Application.ChikovMF.Queries.GetProjectDetails

@model ProjectDetailsViewModel
@{

}

<p>@Model.Title</p>

<p>@Model.Description</p>

@if (Model.Tags != null && Model.Tags.Count != 0)
{
    <ul class="">Тэги проекта</ul>
    @foreach (var tag in Model.Tags)
    {
        <li>@tag.Title</li>
    }
}