@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <strong>
        Уважаемый пользователь!
    </strong>

    Я приношу свои извинения за неудобства, вызванные ошибкой в приложении. 
    Я уже получил информацию об этой ошибке и работаю над ее исправлением. 
    Я постараюсь решить проблему в ближайшее время и улучшить качество этого приложения. 

    <strong>
        Спасибо за ваше терпение и понимание!
    </strong>
</p>
